mixin empty-post-header(image,category,author,title,pretext)
	.post-header__wrap(href= link)
		.post-header(style="background-image:url("+image+")")
			.post-header__overlay
			.post-header__header
				p.post-header__category= category
				.post-header__dot
				p.post-header__author= author
				.post-header__dot
				p.post-header__date= 'Date will be here'
			.post-header__body
				p.post-header__title= title
				p.post-header__pretext= pretext