mixin post(image,category,author,date,title,pretext,link)
	a.post-element__wrap(href= link)
		.post-element(style="background-image:url("+image+")")
			.post-element__overlay
			.post-element__header
				p.post-element__category= category
				.post-element__dot
				p.post-element__author= author
				.post-element__dot
				p.post-element__date= date
			.post-element__body
				p.post-element__title= title
				p.post-element__pretext= pretext