mixin post-header(image,category,author,date,title,pretext,link)
	.post-header__wrap(href= link)
		.post-header(style="background-image:url("+image+")")
			.post-header__overlay
			.post-header__header
				p.post-header__category= category
				.post-header__dot
				a.post-header__author(href= link)= author
				.post-header__dot
				p.post-header__date= date
			.post-header__body
				p.post-header__title= title
				p.post-header__pretext= pretext