include ../components/mixins

doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
		script(src="https://cdn.ckeditor.com/4.11.3/standard/ckeditor.js")

	body
		include parts/header
		block content

		script(src="/javascripts/bootstrap.min.js")
		script(src="/javascripts/jquery-3.3.1.min.js")


