h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li {
  margin: 0;
  padding: 0;
}

a, a:hover, a:active, a:visited, a:focus {
    text-decoration:none;
}

ul,
ol {
  list-style: none;
}

textarea {
  resize: none;
}

textarea,
input,
button {
  outline: none;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

address {
  font-style: normal;
}
