@import '../_variables';
@import '../helpers/breakpoints';

.other-post{
	font-size: 14px;

	min-height: 280px;

	display: flex;
	flex-direction:column;
	align-items:center;
	justify-content:center;
	
	position: relative;

	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;

	transition: all .3s ease;

	color: #fff;

	&:hover,&:focus{
		text-decoration: none;
		color:#fff;

		// background-size: 120% 120%;

		.other-post__overlay{
			background-color: rgba(0,0,0,.4);
		}
	};

	&__wrap{
		padding-left: 5px !important;
		padding-right: 5px !important;
	}

	&__overlay{
		position: absolute;
		width: 100%;
		height: 100%;
		top:0;
		left: 0;

		background-color: rgba(0,0,0,.65);
	}

	&__category{
		position: relative;

		border: 1px solid #fff;
		padding:.5em 1em;

		font-size: .8em;

	}

	&__title{
		position: relative;
		font-weight: bold;
		width: 65%;
		font-size: 1.2em;

		text-align: center; 

	}

	&__addit{
		display: flex;
		flex-direction:row;
		align-items:center;
		justify-content:center;
	}

	&__author{
		position: relative;
		font-family: $font-medium;
		font-weight: bold;

		margin-bottom:0em; 

		font-size: .8em;

	}

	&__dot{
		position: relative;
		width: 5px;
		height: 5px;
		border-radius: 50px;
		color:#fff;

		background-color: #fff;

		margin: 0em 1em;

	}

	&__date{
		position: relative;
		font-family: $font-medium;
		font-weight: bold;

		margin-bottom:0em; 

		font-size: .8em;

	}
}