@import '../_variables';
@import '../helpers/breakpoints';

.person-footer{
	font-size: 14px;

	min-height: 350px;
	align-items:center;

	margin: 2em 0em 4em 0em;

	padding:2em; 	
	color: #595d62;

	display: flex;
	flex-direction:column;
	align-items:center;
	justify-content:center;

	position: relative;

	&__wrap{
		&:hover,&:focus{
			text-decoration: none;
		};
	}


	&__image{
		position: relative;
		z-index: 90;

		width: 120px;
		height: auto;
		object-fit: cover;

		border-radius: 100px;

	}

	&__name{
		position: relative;
		z-index: 90;
		font-family: $font-light;
		font-weight: bold;
		margin: 1em 0em 1em 0em;
		font-size: 2em;

	}

	&__slogan{
		position: relative;
		z-index: 90;

		font-family: $font-medium;
		font-size: 1.2em;
		text-align: center;

		width: 65%;

	}

}