@import '../_variables';
@import '../helpers/breakpoints';

.person-header{
	font-size: 14px;

	min-height: 550px;
	align-items:center;

	padding:2em; 	

	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;

	color: #fff;

	display: flex;
	flex-direction:column;
	align-items:center;
	justify-content:center;

	position: relative;

	&__overlay{
		position: absolute;
		width: 100%;
		height: 100%;

		background-color: rgba(0,0,0,.5);

		z-index: 89;

		left:0;
		top:0;
	}

	&__image{
		position: relative;
		z-index: 90;

		width: 120px;
		height: auto;
		object-fit: cover;

		border-radius: 100px;

	}

	&__name{
		position: relative;
		z-index: 90;

		margin: .5em 0em 0em 0em;
		font-size: 2.6em;
		font-family: $font-bold;
		font-weight: lighter;

	}

	&__hr{
		position: relative;
		z-index: 90;

		background-color: #ccc;
		height: 2px;
		width: 25%;

		margin: 2em 0em;

	}

	&__slogan{
		position: relative;
		z-index: 90;

		font-family: $font-medium;
		font-weight: bold;
		font-size: 1.2em;
		text-align: center;

		width: 65%;

	}

}