@import '../_variables';
@import '../helpers/breakpoints';

$main:#171819;

$sec-color:#414448;
$secondary:#e6e6f0;

.post-tags{
	font-size: 10px;

	margin: 2em 0em;
	font-family: $font-regular;

	display: flex;
	flex-direction:row;
	align-items:center;
	justify-content:space-between;

	&__main{
		text-transform: uppercase;
		padding:.5em 1.5em;
		background-color: $main;
		color:#fff;

		font-family: $font-bold;

		margin: 0em;

		cursor: pointer;
	}

	&__secondary{
		display: flex;
		flex-direction:row;
		align-items:center;
		justify-content:center;

		&-text{
			margin: 0em 1em;
			padding:.5em 1.5em;
			font-family: $font-regular;
			font-weight: bold;
			border: 1px solid $secondary;
			color:$sec-color;
			text-transform: uppercase;

			cursor: pointer;

			transition: all .3s ease;

			&:hover,&:focus{
				background-color: $secondary;
			}


		}
	}
}