@import '../_variables';
@import '../helpers/breakpoints';

$pretext-color:#d6d9dd;
$author-text:#b4c0c8;
$active-color:#737a7f;

.post-element{
	font-size: 14px;

	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;

	min-height: 380px;

	position: relative;

	color:#fff;
	
	display: flex;
	flex-direction:column;
	align-items:flex-start;
	justify-content:center;

	padding:3em; 

	overflow:hidden;

	&__wrap{
		text-decoration: none;

		&:hover,&:focus{
			text-decoration: none;

			.post-element__category{
				background-color: $active-color;
			}

			.post-element__overlay{
				background-color: rgba(0,0,0,.4);
			}
		};

		&:nth-child(1){
			.post-element{

				min-height: 550px;
				align-items:center;

				padding:2em; 

				.post-element__body{
					align-items: center;	
				}

				.post-element__title{
					position: relative;
					text-align: center;
					width: 75%;
					font-size: 2.8em;
					font-family: $font-black;
					color:#fff;
				}

				.post-element__pretext{
					position: relative;
					text-align: center;
					width: 75%;
					font-size: 1.6em;
					font-family: $font-medium;
					color:$pretext-color;
				}		
			}
		}

	}

	

	&__overlay{
		position: absolute;
		width: 100%;
		height: 100%;

		background-color: rgba(0,0,0,.5);

		z-index: 89;

		left:0;
		top:0;

	}

	&__header{
		position: relative;
		z-index: 90;

		display: flex;
		flex-direction:row;
		align-items:center;
		justify-content:center;

		margin: 1em 0em;

	}

	&__category{
		position: relative;

		margin: 0em;
		text-transform: uppercase;
		font-size: .8em;
		color:#fff;
		font-family: $font-regular;

		border: 1px solid $active-color;
		padding:.5em;

		transition: all .3s ease;
	}

	&__author{
		position: relative;

		margin: 0em;
		text-transform: uppercase;
		font-size: .8em;
		color:#fff;
		font-family: $font-regular;
		padding:.5em;

		&:hover,&:focus{
			text-decoration: none;
			color:#fff;
		};
	}

	&__date{
		position: relative;

		margin: 0em;
		text-transform: uppercase;
		font-size: .8em;
		color:#fff;
		font-family: $font-regular;
		padding:.5em;
	}

	&__dot{
		position: relative;

		width: 5px;
		height: 5px;
		border-radius: 50px;
		background-color:$active-color;
		margin: 0em 1em; 
	}

	&__body{
		position: relative;
		z-index: 90;

		display: flex;
		flex-direction:column;
		align-items:felx-start;
		justify-content:center;
	}

	&__title{
		position: relative;
		font-size: 1.6em;
		font-family: $font-medium;
		color:#fff;
		font-weight: bold;

		width: 65%;
	}

	&__pretext{
		position: relative;
		font-size: 1.2em;
		font-family: $font-regular;
		color:$pretext-color;

		width: 75%;
	}

}