@import '../_variables';
@import '../helpers/breakpoints';

$name-color:#738694;
$date-color:#b0bcc7;
$text-color:#6e6f77;

.twitter-card{
	font-size: 14px;

	padding: 2em 0em;

	display: flex;
	flex-direction:column;
	align-items:center;
	justify-content:center;

	&__text{
		line-height: 2;
		font-size: 1em;
		font-family: $font-medium;
		color:$text-color;
	}

	&__footer{
		display: flex;
		flex-direction:row;
		align-items:center;
		justify-content:space-between;

		width: 100%;
		height: auto;

		margin: 1em 0em;
	}

	&__name{
		display: flex;
		flex-direction:row;
		align-items:center;
		justify-content:center;

		&-text{
			font-family: $font-medium;
			font-size: .8em;
			margin: 0em;
			color:$name-color;	


		}
	}

	&__icon{
		width: 25px;
		height: auto;
		object-fit: cover;
	}

	&__date{
		color:$date-color;
		font-size: .8em;
		font-family: $font-black;
		margin: 0em;
	}

	&__hr{
		width: 95%;

		margin: 2em auto 1em auto;
	}
}