@font-face {
  font-family: 'Montserrat Bold';
  src: url("/fonts/Montserrat-Bold.ttf") format("ttf"), url("/fonts/Montserrat-Bold.woff") format("woff"), url("/fonts/Montserrat-Bold.woff2") format("woff2"), url("/fonts/Montserrat-Bold.svg") format("svg");
  font-style: normal; }

@font-face {
  font-family: 'Montserrat Black';
  src: url("/fonts/Montserrat-Black.ttf") format("ttf"), url("/fonts/Montserrat-Black.woff") format("woff"), url("/fonts/Montserrat-Black.woff2") format("woff2"), url("/fonts/Montserrat-Black.svg") format("svg");
  font-style: normal; }

@font-face {
  font-family: 'Montserrat Light';
  src: url("/fonts/Montserrat-Light.ttf") format("ttf"), url("/fonts/Montserrat-Light.woff") format("woff"), url("/fonts/Montserrat-Light.woff2") format("woff2"), url("/fonts/Montserrat-Light.svg") format("svg");
  font-style: normal; }

@font-face {
  font-family: 'Montserrat ExtraBold';
  src: url("/fonts/Montserrat-ExtraBold.ttf") format("ttf"), url("/fonts/Montserrat-ExtraBold.woff") format("woff"), url("/fonts/Montserrat-ExtraBold.woff2") format("woff2"), url("/fonts/Montserrat-ExtraBold.svg") format("svg");
  font-style: normal; }

@font-face {
  font-family: 'Montserrat Medium';
  src: url("/fonts/Montserrat-Medium.ttf") format("ttf"), url("/fonts/Montserrat-Medium.woff") format("woff"), url("/fonts/Montserrat-Medium.woff2") format("woff2"), url("/fonts/Montserrat-Medium.svg") format("svg");
  font-style: normal; }

@font-face {
  font-family: 'Montserrat Regular';
  src: url("/fonts/Montserrat-Regular.ttf") format("ttf"), url("/fonts/Montserrat-Regular.woff") format("woff"), url("/fonts/Montserrat-Regular.woff2") format("woff2"), url("/fonts/Montserrat-Regular.svg") format("svg");
  font-style: normal; }

@font-face {
  font-family: 'Montserrat Semibold';
  src: url("/fonts/Montserrat-Semibold.ttf") format("ttf"), url("/fonts/Montserrat-Semibold.woff") format("woff"), url("/fonts/Montserrat-Semibold.woff2") format("woff2"), url("/fonts/Montserrat-Semibold.svg") format("svg");
  font-style: normal; }

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li {
  margin: 0;
  padding: 0; }

a, a:hover, a:active, a:visited, a:focus {
  text-decoration: none; }

ul,
ol {
  list-style: none; }

textarea {
  resize: none; }

textarea,
input,
button {
  outline: none; }

html {
  box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: inherit; }

address {
  font-style: normal; }

.table-reset th {
  border-top: none !important; }

.table-reset th:first-child {
  border-left: none; }

.table-reset th:last-child {
  border-right: none; }

.table-reset tr:last-child > td {
  border-bottom: none !important; }

.table-reset td:first-child {
  border-left: none; }

.table-reset td:last-child {
  border-right: none; }

.sidebar {
  font-size: 14px; }
  .sidebar__block {
    padding: 2em 3em; }
  .sidebar__title {
    font-size: 1.5em;
    text-transform: uppercase;
    font-family: "Montserrat Medium"; }
  .sidebar__logo {
    width: 60%;
    max-width: 100%;
    height: auto;
    margin: 2em 0em; }
  .sidebar__text {
    margin: 2em 0em;
    font-family: "Montserrat Regular";
    line-height: 2;
    color: #333; }
  .sidebar__hr {
    margin: 2em 0em;
    width: 95%; }

.header {
  font-size: 12px;
  background-color: #f8f8f8;
  padding: 1em 0em;
  border-bottom: 1px solid #ebebeb; }
  .header__col {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end; }
  .header__right-wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; }
  .header__create {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: .5em 1em;
    color: #6e6f77;
    border: 1px solid #aaa;
    background-color: #f8f8f8;
    transition: all .3s ease; }
    .header__create:hover, .header__create:focus {
      text-decoration: none;
      color: #6e6f77; }
    .header__create-icon {
      height: 15px;
      width: auto;
      object-fit: cover; }
    .header__create-text {
      text-transform: uppercase;
      margin: 0em 1em;
      font-family: "Montserrat Medium"; }
  .header__avatar {
    height: 50px;
    width: auto;
    object-fit: cover;
    border-radius: 100px;
    margin: 0em 2em; }

.twitter-card {
  font-size: 14px;
  padding: 2em 0em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .twitter-card__text {
    line-height: 2;
    font-size: 1em;
    font-family: "Montserrat Medium";
    color: #6e6f77; }
  .twitter-card__footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: auto;
    margin: 1em 0em; }
  .twitter-card__name {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; }
    .twitter-card__name-text {
      font-family: "Montserrat Medium";
      font-size: .8em;
      margin: 0em;
      color: #738694; }
  .twitter-card__icon {
    width: 25px;
    height: auto;
    object-fit: cover; }
  .twitter-card__date {
    color: #b0bcc7;
    font-size: .8em;
    font-family: "Montserrat Black";
    margin: 0em; }
  .twitter-card__hr {
    width: 95%;
    margin: 2em auto 1em auto; }

.post-element {
  font-size: 14px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 380px;
  position: relative;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 3em;
  overflow: hidden; }
  .post-element__wrap {
    text-decoration: none; }
    .post-element__wrap:hover, .post-element__wrap:focus {
      text-decoration: none; }
      .post-element__wrap:hover .post-element__category, .post-element__wrap:focus .post-element__category {
        background-color: #737a7f; }
      .post-element__wrap:hover .post-element__overlay, .post-element__wrap:focus .post-element__overlay {
        background-color: rgba(0, 0, 0, 0.4); }
    .post-element__wrap:nth-child(1) .post-element {
      min-height: 550px;
      align-items: center;
      padding: 2em; }
      .post-element__wrap:nth-child(1) .post-element .post-element__body {
        align-items: center; }
      .post-element__wrap:nth-child(1) .post-element .post-element__title {
        position: relative;
        text-align: center;
        width: 75%;
        font-size: 2.8em;
        font-family: "Montserrat Black";
        color: #fff; }
      .post-element__wrap:nth-child(1) .post-element .post-element__pretext {
        position: relative;
        text-align: center;
        width: 75%;
        font-size: 1.6em;
        font-family: "Montserrat Medium";
        color: #d6d9dd; }
  .post-element__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 89;
    left: 0;
    top: 0; }
  .post-element__header {
    position: relative;
    z-index: 90;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 1em 0em; }
  .post-element__category {
    position: relative;
    margin: 0em;
    text-transform: uppercase;
    font-size: .8em;
    color: #fff;
    font-family: "Montserrat Regular";
    border: 1px solid #737a7f;
    padding: .5em;
    transition: all .3s ease; }
  .post-element__author {
    position: relative;
    margin: 0em;
    text-transform: uppercase;
    font-size: .8em;
    color: #fff;
    font-family: "Montserrat Regular";
    padding: .5em; }
    .post-element__author:hover, .post-element__author:focus {
      text-decoration: none;
      color: #fff; }
  .post-element__date {
    position: relative;
    margin: 0em;
    text-transform: uppercase;
    font-size: .8em;
    color: #fff;
    font-family: "Montserrat Regular";
    padding: .5em; }
  .post-element__dot {
    position: relative;
    width: 5px;
    height: 5px;
    border-radius: 50px;
    background-color: #737a7f;
    margin: 0em 1em; }
  .post-element__body {
    position: relative;
    z-index: 90;
    display: flex;
    flex-direction: column;
    align-items: felx-start;
    justify-content: center; }
  .post-element__title {
    position: relative;
    font-size: 1.6em;
    font-family: "Montserrat Medium";
    color: #fff;
    font-weight: bold;
    width: 65%; }
  .post-element__pretext {
    position: relative;
    font-size: 1.2em;
    font-family: "Montserrat Regular";
    color: #d6d9dd;
    width: 75%; }

.person-header {
  font-size: 14px;
  min-height: 550px;
  align-items: center;
  padding: 2em;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative; }
  .person-header__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 89;
    left: 0;
    top: 0; }
  .person-header__image {
    position: relative;
    z-index: 90;
    width: 120px;
    height: auto;
    object-fit: cover;
    border-radius: 100px; }
  .person-header__name {
    position: relative;
    z-index: 90;
    margin: .5em 0em 0em 0em;
    font-size: 2.6em;
    font-family: "Montserrat Bold";
    font-weight: lighter; }
  .person-header__hr {
    position: relative;
    z-index: 90;
    background-color: #ccc;
    height: 2px;
    width: 25%;
    margin: 2em 0em; }
  .person-header__slogan {
    position: relative;
    z-index: 90;
    font-family: "Montserrat Medium";
    font-weight: bold;
    font-size: 1.2em;
    text-align: center;
    width: 65%; }

.person-footer {
  font-size: 14px;
  min-height: 350px;
  align-items: center;
  margin: 2em 0em 4em 0em;
  padding: 2em;
  color: #595d62;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative; }
  .person-footer__wrap:hover, .person-footer__wrap:focus {
    text-decoration: none; }
  .person-footer__image {
    position: relative;
    z-index: 90;
    width: 120px;
    height: auto;
    object-fit: cover;
    border-radius: 100px; }
  .person-footer__name {
    position: relative;
    z-index: 90;
    font-family: "Montserrat Light";
    font-weight: bold;
    margin: 1em 0em 1em 0em;
    font-size: 2em; }
  .person-footer__slogan {
    position: relative;
    z-index: 90;
    font-family: "Montserrat Medium";
    font-size: 1.2em;
    text-align: center;
    width: 65%; }

.post-header {
  font-size: 14px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 380px;
  position: relative;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 3em;
  overflow: hidden; }
  .post-header__wrap {
    text-decoration: none; }
    .post-header__wrap:nth-child(1) .post-header {
      min-height: 550px;
      align-items: center;
      padding: 2em; }
      .post-header__wrap:nth-child(1) .post-header .post-header__body {
        align-items: center; }
      .post-header__wrap:nth-child(1) .post-header .post-header__title {
        position: relative;
        text-align: center;
        width: 75%;
        font-size: 2.8em;
        font-family: "Montserrat Black";
        color: #fff; }
      .post-header__wrap:nth-child(1) .post-header .post-header__pretext {
        position: relative;
        text-align: center;
        width: 75%;
        font-size: 1.6em;
        font-family: "Montserrat Medium";
        color: #d6d9dd; }
  .post-header__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 89;
    left: 0;
    top: 0; }
  .post-header__header {
    position: relative;
    z-index: 90;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 1em 0em; }
  .post-header__category {
    position: relative;
    margin: 0em;
    text-transform: uppercase;
    font-size: .8em;
    color: #fff;
    font-family: "Montserrat Regular";
    transition: all .3s ease; }
  .post-header__author {
    position: relative;
    margin: 0em;
    text-transform: uppercase;
    font-size: .8em;
    color: #fff;
    font-family: "Montserrat Regular";
    padding: .5em;
    border: 1px solid #737a7f;
    padding: .5em; }
    .post-header__author:hover, .post-header__author:focus {
      text-decoration: none;
      background-color: #737a7f;
      color: #fff; }
  .post-header__date {
    position: relative;
    margin: 0em;
    text-transform: uppercase;
    font-size: .8em;
    color: #fff;
    font-family: "Montserrat Regular";
    padding: .5em; }
  .post-header__dot {
    position: relative;
    width: 5px;
    height: 5px;
    border-radius: 50px;
    background-color: #737a7f;
    margin: 0em 1em; }
  .post-header__body {
    position: relative;
    z-index: 90;
    display: flex;
    flex-direction: column;
    align-items: felx-start;
    justify-content: center; }
  .post-header__title {
    position: relative;
    font-size: 1.6em;
    font-family: "Montserrat Medium";
    color: #fff;
    font-weight: bold;
    width: 65%; }
  .post-header__pretext {
    position: relative;
    font-size: 1.2em;
    font-family: "Montserrat Regular";
    color: #d6d9dd;
    width: 75%; }

.post-tags {
  font-size: 10px;
  margin: 2em 0em;
  font-family: "Montserrat Regular";
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; }
  .post-tags__main {
    text-transform: uppercase;
    padding: .5em 1.5em;
    background-color: #171819;
    color: #fff;
    font-family: "Montserrat Bold";
    margin: 0em;
    cursor: pointer; }
  .post-tags__secondary {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; }
    .post-tags__secondary-text {
      margin: 0em 1em;
      padding: .5em 1.5em;
      font-family: "Montserrat Regular";
      font-weight: bold;
      border: 1px solid #e6e6f0;
      color: #414448;
      text-transform: uppercase;
      cursor: pointer;
      transition: all .3s ease; }
      .post-tags__secondary-text:hover, .post-tags__secondary-text:focus {
        background-color: #e6e6f0; }

.other-post {
  font-size: 14px;
  min-height: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: all .3s ease;
  color: #fff; }
  .other-post:hover, .other-post:focus {
    text-decoration: none;
    color: #fff; }
    .other-post:hover .other-post__overlay, .other-post:focus .other-post__overlay {
      background-color: rgba(0, 0, 0, 0.4); }
  .other-post__wrap {
    padding-left: 5px !important;
    padding-right: 5px !important; }
  .other-post__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.65); }
  .other-post__category {
    position: relative;
    border: 1px solid #fff;
    padding: .5em 1em;
    font-size: .8em; }
  .other-post__title {
    position: relative;
    font-weight: bold;
    width: 65%;
    font-size: 1.2em;
    text-align: center; }
  .other-post__addit {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; }
  .other-post__author {
    position: relative;
    font-family: "Montserrat Medium";
    font-weight: bold;
    margin-bottom: 0em;
    font-size: .8em; }
  .other-post__dot {
    position: relative;
    width: 5px;
    height: 5px;
    border-radius: 50px;
    color: #fff;
    background-color: #fff;
    margin: 0em 1em; }
  .other-post__date {
    position: relative;
    font-family: "Montserrat Medium";
    font-weight: bold;
    margin-bottom: 0em;
    font-size: .8em; }

.grid-layout {
  font-size: 14px;
  padding: 3px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 3px; }
  .grid-layout *:nth-child(1) {
    grid-column: 1 / span 2; }

.main-text {
  font-size: 18px;
  font-family: "Montserrat Regular";
  color: #525458; }
  .main-text__text {
    margin: 2em 0em;
    line-height: 2; }
  .main-text__list {
    list-style: circle; }
    .main-text__list li {
      margin: 2em 0em;
      line-height: 2;
      margin-left: 3em; }
  .main-text__main-title {
    font-weight: bold;
    font-size: 2em;
    color: #333; }
  .main-text__second-title {
    color: #b5b4bf;
    font-size: 1.5em;
    font-weight: bold; }
  .main-text__accent-block {
    background-color: #2c2e32;
    width: 100%;
    padding: 2em 0em; }
    .main-text__accent-block .main-text__text {
      color: #fff; }
  .main-text__image {
    width: 100%;
    max-width: 100%;
    height: auto;
    margin: 2em 0em; }

.create-post {
  font-size: 16px;
  padding: 2em 0em; }
  .create-post__title {
    font-size: 1.8em;
    font-family: "Montserrat Medium";
    color: #333; }
  .create-post__editor-wrap {
    margin: 1em 0em; }
  .create-post__editor {
    min-height: 80vh; }

.post-addit {
  font-size: 12px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 15px;
  padding: 2em 0em;
  color: #6e6f77; }
  .post-addit__image {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
    background-color: #f8f8f8;
    padding: 1em 0em;
    border: 1px solid #cccccc; }
    .post-addit__image input {
      position: absolute;
      opacity: 0;
      width: 100%;
      height: 100%;
      cursor: pointer; }
    .post-addit__image-icon {
      height: 15px;
      width: auto;
      object-fit: cover;
      margin: 0em .5em; }
    .post-addit__image-text {
      margin: 0em;
      font-family: "Montserrat Medium";
      text-transform: uppercase; }
  .post-addit__category {
    padding-left: 1em;
    border: 0px;
    border: 1px solid #cccccc;
    font-family: "Montserrat Medium";
    color: #text !important;
    text-transform: uppercase; }
  .post-addit__title {
    padding-left: 1em;
    border: 0px;
    border-bottom: 1px solid #cccccc;
    font-family: "Montserrat Medium";
    color: #text; }
    .post-addit__title::placeholder {
      text-transform: uppercase; }
  .post-addit__pretext {
    padding-left: 1em;
    border: 0px;
    border-bottom: 1px solid #cccccc;
    font-family: "Montserrat Medium";
    color: #text;
    grid-column: 1/ span 3; }
    .post-addit__pretext::placeholder {
      text-transform: uppercase; }
  .post-addit__finish {
    width: 100%;
    font-size: 12px; }
    .post-addit__finish-button {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      margin: 2em 0em 2em 0em;
      position: relative;
      cursor: pointer;
      background-color: #f8f8f8;
      padding: 1em 3em;
      border: 1px solid #cccccc; }
      .post-addit__finish-button-icon {
        height: 15px;
        width: auto;
        object-fit: cover;
        margin: 0em 1em; }
      .post-addit__finish-button-text {
        margin: 0em;
        font-family: "Montserrat Medium";
        text-transform: uppercase; }

.profiles-layout {
  font-size: 12px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 15px; }
  .profiles-layout a:hover, .profiles-layout a:focus {
    text-decoration: none; }
