@import '../_variables';
@import '../helpers/breakpoints';

$active-color:#737a7f;

$text:#6e6f77;

$back:#f8f8f8;

.header{
	font-size: 12px;

	background-color: $back;

	padding:1em 0em;
	border-bottom:1px solid #ebebeb; 

	&__row{

	}

	&__col{
		display: flex;
		flex-direction:row;
		align-items:center;
		justify-content:flex-end;
	}

	&__logo-wrap{

	}

	&__logo{

	}

	&__right-wrap{
		display: flex;
		flex-direction:row;
		align-items:center;
		justify-content:center;
	}

	&__create{
		display: flex;
		flex-direction:row;
		align-items:center;
		justify-content:center;

		padding:.5em 1em;
		color:$text;

		border:1px solid #aaa; 

		background-color: $back;

		transition: all .3s ease;

		&:hover,&:focus{
			text-decoration: none;
			color:$text;
		};

		&-icon{
			height: 15px;
			width: auto;
			object-fit: cover;
		}

		&-text{
			text-transform: uppercase;
			margin:0em 1em;
			font-family: $font-medium;
		}

	}

	&__avatar{
		height: 50px;
		width: auto;
		object-fit: cover;

		border-radius: 100px;

		margin: 0em 2em;
	}
}