@import '../_variables';
@import '../helpers/breakpoints';

.sidebar{
	font-size: 14px;

	&__block{
		padding: 2em 3em;

	}

	&__title{
		font-size: 1.5em;
		text-transform: uppercase;
		font-family: $font-medium;
	}

	&__logo{
		width: 60%;
		max-width: 100%;
		height: auto;

		margin: 2em 0em;
	}

	&__text{
		margin: 2em 0em;
		font-family: $font-regular;
		line-height: 2;
		color:#333;
	}

	&__hr{
		margin: 2em 0em;
		width: 95%;

	}
}