
// Body
$accentColor:#ff5336;
$primaryColor:#004267;
$txtw:#fff;
$txtb:#333;
$txtmain:#333333;

//menu
$activeColor:#f0f0f0;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$fsbase: 16px;
$ff: 16px;
$line-height-base: 1.6;

$font-regular:"Montserrat Regular";
$font-bold:"Montserrat Bold";
$font-extrabold:"Montserrat ExtraBold";
$font-light:"Montserrat Light";
$font-black:"Montserrat Black";
$font-medium:"Montserrat Medium";

// Colors
$blue: #004466;
$red:#ed553b;

//timeline
$timeblue:#004673;
$timeyel:#fab803;

//vacancies
$vacred:#df5145;
$vacback1:#f9f9f9;
$vactext:#004673;

//header-colors
$pre-header:#fff876;