@font-face {
    font-family: 'Montserrat Bold';
    src: url('/fonts/Montserrat-Bold.ttf') format('ttf'),
         url('/fonts/Montserrat-Bold.woff') format('woff'),
         url('/fonts/Montserrat-Bold.woff2') format('woff2'),
         url('/fonts/Montserrat-Bold.svg') format('svg');
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat Black';
    src: url('/fonts/Montserrat-Black.ttf') format('ttf'),
         url('/fonts/Montserrat-Black.woff') format('woff'),
         url('/fonts/Montserrat-Black.woff2') format('woff2'),
         url('/fonts/Montserrat-Black.svg') format('svg');
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat Light';
    src: url('/fonts/Montserrat-Light.ttf') format('ttf'),
         url('/fonts/Montserrat-Light.woff') format('woff'),
         url('/fonts/Montserrat-Light.woff2') format('woff2'),
         url('/fonts/Montserrat-Light.svg') format('svg');
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat ExtraBold';
    src: url('/fonts/Montserrat-ExtraBold.ttf') format('ttf'),
         url('/fonts/Montserrat-ExtraBold.woff') format('woff'),
         url('/fonts/Montserrat-ExtraBold.woff2') format('woff2'),
         url('/fonts/Montserrat-ExtraBold.svg') format('svg');
    font-style: normal;
}


@font-face {
    font-family: 'Montserrat Medium';
    src: url('/fonts/Montserrat-Medium.ttf') format('ttf'),
         url('/fonts/Montserrat-Medium.woff') format('woff'),
         url('/fonts/Montserrat-Medium.woff2') format('woff2'),
         url('/fonts/Montserrat-Medium.svg') format('svg');
    font-style: normal;
}


@font-face {
    font-family: 'Montserrat Regular';
    src: url('/fonts/Montserrat-Regular.ttf') format('ttf'),
         url('/fonts/Montserrat-Regular.woff') format('woff'),
         url('/fonts/Montserrat-Regular.woff2') format('woff2'),
         url('/fonts/Montserrat-Regular.svg') format('svg');
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat Semibold';
    src: url('/fonts/Montserrat-Semibold.ttf') format('ttf'),
         url('/fonts/Montserrat-Semibold.woff') format('woff'),
         url('/fonts/Montserrat-Semibold.woff2') format('woff2'),
         url('/fonts/Montserrat-Semibold.svg') format('svg');
    font-style: normal;
}

