@import '../_variables';
@import '../helpers/breakpoints';

.create-post{
	font-size: 16px;
	padding:2em 0em;

	&__title{
		font-size: 1.8em;
		font-family: $font-medium;
		color:#333;
	}

	&__editor-wrap{
		margin: 1em 0em;
	}

	&__editor{
		min-height: 80vh;
	}
}