@import '../_variables';
@import '../helpers/breakpoints';

$pad-margin:3px;

.grid-layout{
	font-size: 14px;

	padding: $pad-margin;

	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr;
	grid-gap: $pad-margin; 

	& *:nth-child(1){
		grid-column: 1 / span 2;
	}

}