@import '../_variables';
@import '../helpers/breakpoints';

.main-text{
	font-size: 18px;
	font-family: $font-regular;
	color:#525458;

	&__text{
		margin: 2em 0em;
		line-height: 2;
	}

	&__list{
		list-style:circle; 

		li{
			margin: 2em 0em;
			line-height: 2;
			margin-left: 3em;
		}
	}

	&__main-title{
		font-weight: bold;
		font-size: 2em;
		color:#333;
	}

	&__second-title{
		color:#b5b4bf;
		font-size: 1.5em;
		font-weight: bold;
	}

	&__accent-block{
		background-color: #2c2e32;
		width: 100%;
		padding:2em 0em;

		.main-text__text{
			color:#fff;
		}
	}

	&__image{
		width: 100%;
		max-width: 100%;
		height: auto;

		margin: 2em 0em;
	}

}