@import '../_variables';
@import '../helpers/breakpoints';

$back:#f8f8f8;

$text:#6e6f77;

$border:#cccccc;

.post-addit{
	font-size: 12px;

	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-gap: 15px;

	padding:2em 0em; 

	color:$text;


	&__image{
		display: flex;
		flex-direction:row;
		align-items:center;
		justify-content:center;

		position: relative;
		cursor: pointer;  

		background-color: $back;

		padding:1em 0em;
		border: 1px solid $border;

		input{
			position: absolute;
			opacity: 0;

			width: 100%;
			height: 100%;

			cursor: pointer;
		}

		&-icon{
			height: 15px;
			width: auto;
			object-fit: cover;

			margin: 0em .5em;
		}

		&-text{
			margin: 0em;
			font-family: $font-medium;
			text-transform: uppercase;
		}

	}

	&__category{
		padding-left: 1em;
		border: 0px;
		border: 1px solid $border;
		font-family: $font-medium;
		color:#text !important;
		text-transform: uppercase;

	}

	&__title{
		padding-left: 1em;
		border: 0px;
		border-bottom: 1px solid $border;
		font-family: $font-medium;
		color:#text;

		&::placeholder{
			text-transform: uppercase;
		};

	}

	&__pretext{
		padding-left: 1em;
		border: 0px;
		border-bottom: 1px solid $border;
		font-family: $font-medium;
		color:#text;
		grid-column: 1/ span 3;

		&::placeholder{
			text-transform: uppercase;
		};
	}

	&__finish{
		width: 100%;
		font-size: 12px;

		&-button{
			display: flex;
			flex-direction:row;
			align-items:center;
			justify-content:center;
			margin: 2em 0em 2em 0em;


			position: relative;
			cursor: pointer;  

			background-color: $back;

			padding:1em 3em;
			border: 1px solid $border;	

			&-icon{
				height: 15px;
				width: auto;
				object-fit: cover;

				margin: 0em 1em;
			}

			&-text{
				margin: 0em;
				font-family: $font-medium;
				text-transform: uppercase;
			}	
		}
	}
}