@import '../_variables';
@import '../helpers/breakpoints';

.profiles-layout{
	font-size: 12px;

	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr;
	grid-gap: 15px;

	a{
		&:hover,&:focus{
			text-decoration: none;
		};
	}
}