mixin other-post(image,category, title, author, date,link)
	a.other-post(href= link style="background-image:url(' "+image+" ');")
		.other-post__overlay
		p.other-post__category= category
		p.other-post__title= title

		.other-post__addit
			p.other-post__author= author
			.other-post__dot
			p.other-post__date= date