mixin person-header(backImage,avatar,name,slogan, link)
	if(backImage)
		.person-header(style="background-image:url("+backImage+")")
			.person-header__overlay
			img.person-header__image(src= avatar)
			p.person-header__name= name
			hr.person-header__hr
			p.person-header__slogan= slogan			
	else
		a.person-footer__wrap(href= link)
			.person-footer(style="background-color:#f5f8f9")
				img.person-footer__image(src= avatar)
				p.person-footer__name= name
				p.person-footer__slogan= slogan