mixin twitter(twit,login,date)
	.twitter-card
		p.twitter-card__text= twit
		.twitter-card__footer
			.twitter-card__name
				img.twitter-card__icon(src="/images/icons/twitter.svg")
				p.twitter-card__name-text= login
			p.twitter-card__date= date
		hr.twitter-card__hr