extends ../layouts/layout

block content
	#app
			nav.navbar.navbar-expand-md.navbar-light.navbar-laravel
				.container
					a.navbar-brand(href='http://bevent') Trendit #{title}
					button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
						span.navbar-toggler-icon
					
					#navbarSupportedContent.collapse.navbar-collapse
						// Left Side Of Navbar
						ul.navbar-nav.mr-auto
						// Right Side Of Navbar
						
						ul.navbar-nav.ml-auto
							// Authentication Links
							li.nav-item
								a.nav-link(href='#') Login
							li.nav-item
								a.nav-link(href='#') Register
			main.py-4
				.container
					.row.justify-content-center
						.col-md-8
							.card
								
								.card-header Login
								
								.card-body
									form(method='POST', action='')
										.form-group.row
											label.col-sm-4.col-form-label.text-md-right(for='email') E-Mail Address
											.col-md-6
												input#email.form-control(type='email', name='email', value='', required='', autofocus='')
										
										
										.form-group.row
											label.col-md-4.col-form-label.text-md-right(for='password') Password
											.col-md-6
												input#password.form-control(type='password', name='password', required='')
										
										.form-group.row
											.col-md-6.offset-md-4
												.form-check
													input#remember.form-check-input(type='checkbox', name='remember')
													label.form-check-label(for='remember') Remember Me
										
										.form-group.row.mb-0
											.col-md-8.offset-md-4
												button.btn.btn-primary(type='submit') Login
												a.btn.btn-link(href='http://bevent/password/reset') Forgot Your Password?
