extends ../layouts/layout

block content
	.container-fluid
		.row
			.col-md-3.left-sidebar
				include ../layouts/parts/sidebar
			.col-md-9.right-sidebar
				form.create-post
					p.create-post__title #{title}
					.row
						.col-md-12
							+empty-post-header('/images/cards/card_1.jpg',"Category will be here","Harvey Specter","Title will be here",'Excepteur do veniam et cupidatat consectetur eiusmod laborum nisi proident deserunt exercitation anim ut labore adipisicing deserunt proident.')
					.row
						.col-md-12
							.post-addit
								
								.post-addit__image
									img.post-addit__image-icon(src="/images/icons/upload.svg")
									p.post-addit__image-text Загрузить изображение
									input(type="file")

								select.post-addit__category
									option Tempor est anim irure est. 
									option Adipisicing sit. 
									option Amet mollit nulla. 
									option Consequat ex. 
									option Ullamco elit. 
									option Nisi nisi. 
									option Sed dolor voluptate nulla consectetur. 

								input.post-addit__title(type="text" placeholder="Title")

								input.post-addit__pretext(type="text" placeholder="Pretext")


					include ../layouts/parts/editor.pug
					.row
						.col-md-12
							.post-addit__finish
								.post-addit__finish-button 
									img.post-addit__finish-button-icon(src="/images/icons/create.svg")
									p.post-addit__finish-button-text Add post

