extends ../layouts/layout

block content
	.container-fluid
		.row
			.col-md-3.left-sidebar
				include ../layouts/parts/sidebar
			.col-md-9.right-sidebar
				.grid-layout
					+person-header('/images/cards/card_4.jpg','/images/profiles/profile_1.jpg','Harvey Specter','Harvey Specter has built a career and reputation by breaking the rules. Harvey/\'s shoot-from-the-hip style has made him an effective lawyer and a slick character.')

					+post('/images/cards/card_2.jpg','ARCHITECTURE','Harvey Specter','15TH AUG "12" ','Lorem ipsum ut consectetur dolore est.','Culpa cupidatat cillum dolor consectetur sint dolore magna nisi mollit fugiat ea sit elit nisi.','/post/get/1')

					+post('/images/cards/card_3.jpg','ARCHITECTURE','Harvey Specter','18TH AUG "19" ','Deserunt veniam.','Lorem ipsum ullamco fugiat mollit commodo ut ullamco sit eu id ut occaecat consequat officia.','/post/get/1')

					+post('/images/cards/card_4.jpg','ARCHITECTURE','Harvey Specter','21TH AUG "26" ','Ut sit irure sed quis.','Enim aliquip incididunt in laboris ea fugiat et magna.','/post/get/1')

					+post('/images/cards/card_5.jpg','ARCHITECTURE','Harvey Specter','24TH AUG "33" ','Non ullamco culpa sunt.','Labore sunt irure et duis occaecat in tempor sunt excepteur consequat non laborum enim.','/post/get/1')

					+post('/images/cards/card_6.jpg','ARCHITECTURE','Harvey Specter','27TH AUG "40" ','Dolore minim veniam.','Consectetur dolore amet labore aliqua ex ullamco veniam id veniam cupidatat officia minim et in anim excepteur cillum.','/post/get/1')

					+post('/images/cards/card_7.jpg','ARCHITECTURE','Harvey Specter','30TH AUG "47" ','Sit consequat fugiat exercitation.','Nulla dolore qui nostrud exercitation consectetur nisi sed tempor sunt adipisicing enim est irure magna mollit et et.','/post/get/1')

					+post('/images/cards/card_8.jpg','ARCHITECTURE','Harvey Specter','33TH AUG "54" ','Lorem ipsum consequat est anim.','Cupidatat occaecat minim cillum do ea aliquip reprehenderit et ea sed.','/post/get/1')

					+post('/images/cards/card_9.jpg','ARCHITECTURE','Harvey Specter','36TH AUG "61" ','In ut mollit duis.','Ea eu tempor dolor laborum cupidatat exercitation ea nostrud.','/post/get/1')

					+post('/images/cards/card_10.jpg','ARCHITECTURE','Harvey Specter','39TH AUG "68" ','Ex in.','Labore esse consequat ut occaecat proident nostrud nostrud irure exercitation ut amet ex qui mollit ad.','/post/get/1')

