extends ../layouts/layout

block content
	.container-fluid
		.row
			.col-md-3.left-sidebar
				include ../layouts/parts/sidebar
			.col-md-9.right-sidebar
				.profiles-layout
					each user,index in users
						a(href="/user/"+user.id)
							+person-header(user.backimage,user.image,user.name,user.slogan)

