.container-fluid.header
	.row.header__row
		.col-md-12.header__col
			//- .header__logo-wrap
			//- 	a(href="/")
			//- 		img.header__logo(src="/images/logo.png")

			.header__right-wrap
				a.header__create(href="/post/create")
					img.header__create-icon(src="/images/icons/create.svg")
					p.header__create-text Create new post
				a(href="/user/1")
					img.header__avatar(src="/images/profiles/profile_1.jpg")

			