.sidebar
	.sidebar__block
		a(href="/")
			img.sidebar__logo(src="/images/logo.png")
		p.sidebar__text
			| Slate is a multi-author & personal blog theme for the WordPress platform. Featuring a minimal, responsive, content-focused design and single-column layout. Available on ThemeForest
		hr.sidebar__hr

	.sidebar__block
		p.sidebar__title twitter

		+twitter("Onyx for WordPress has been updated to version 3.1.0. More info @ https://t.co/XXwaqD8Kga",'@ECKOTHEMES',' 3 months ago')

		+twitter("Subscribe to our email newsletter to receive useful articles and special offers. This monthly email is sent out on the first of every month.",'@ECKOTHEMES',' 3 months ago')

		+twitter("Ember for WordPress has been updated to version 3.0.0. More info @ https://t.co/zHUK5V4h2Y",'@ECKOTHEMES',' 3 months ago')
